{% extends 'base.html' %}
{% block content %}

<main>
    <section class="stylist-header">
        <h1>Stylist: {{ stylist.username }}</h1>
    </section>

    <section class="stylist-services">
    <h2>Services & Available Time Slots</h2>

    {% for item in service_slots %}
        <h3>{{ item.service.name }} - £{{ item.price }}</h3>

        <ul>
            {% for slot in item.slots %}
                <li>
                    {{ slot.date }} at {{ slot.time }}

                    <a href="{% url 'book-appointment' slot.id item.service.id %}">
                        Book
                    </a>
                </li>
            {% empty %}
                <li>No available slots for this service.</li>
            {% endfor %}
        </ul>

    {% empty %}
        <p>This stylist has no services yet.</p>
    {% endfor %}
</section>

</main>

{% endblock %}