{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}

<div class="glass-form-wrapper">

  <h1 class="dashboard-title">
    {% if object %}Edit Availability{% else %}Add Availability{% endif %}
  </h1>

  <form method="post" class="glass-form">
    {% csrf_token %}

     <div class="form-grid">
      {{ form.as_p }}
    </div>

    <button type="submit" class="btn">
      {% if object %}Update{% else %}Create{% endif %}
    </button>
  </form>

</div>

{% endblock %}
