{% extends 'base.html' %}
{% load static %}

{% block head %} 
<link rel="stylesheet" href="{% static 'css/home.css' %}"> 
{% endblock %}

{% block content %}

<div class="home-container">

  <h1 class="home-title">Welcome to <span>FirstLook</span></h1>
  {%if user.is_authenticated and user.is_stylist%}
    <section class="login-section">
      <a href="{% url 'stylist-dashboard' %}" class="btn">View Dashboard</a>
    </section>
  {% elif user.is_authenticated %}
     <section class="login-section">
      <a href="{% url 'service-list' %}" class="btn">View Services</a>
      <a href="{% url 'quick-book-service' %}" class="btn">Quick Book</a>
      <a href="{% url 'booking-list' %}" class="btn">View Bookings</a>
     </section>
  {% else%}
    <section class="login-section">
      <a href="{% url 'login' %}" class="btn">Login</a>
      <a href="{% url 'service-list' %}" class="btn">View Services</a>
      <a href="{% url 'quick-book-service' %}" class="btn">Quick Book</a>
    </section>
  {% endif %}

</div>

{% endblock %}
