{% extends 'base.html' %}
{% load static %} 

{% block head %} 
<link rel="stylesheet" href="{% static 'css/bookings/booking-detail.css' %}"> 
{% endblock %}

{% block content %}
<div class="container booking-detail-page">

    <div class="booking-detail-card">

        <h1>Booking Details</h1>

        <div class="detail-row">
            <strong>Service:</strong>
            <span>{{ booking.service.name }}</span>
        </div>

        <div class="detail-row">
            <strong>Stylist:</strong> 
            <span>{{ booking.stylist.username }}</span> 
        </div>

        <div class="detail-row">
            <strong>Date:</strong> 
            <span>{{ booking.availability.date }}</span>
        </div>

        <div class="detail-row">
            <strong>Time:</strong> 
            <span>{{ booking.availability.time }}</span>
        </div>

        <div class="detail-row">
            <strong>Price:</strong> 
            <span>£{{ price}}</span>
        </div>

        <div class="detail-row">
            <strong>Created:</strong> 
            <span>{{ booking.created_at|date:"d M Y, H:i" }}</span>
        </div>

        <div class="booking-actions">
            <a class="btn " href="{% url 'booking-update' booking.id %}">Edit Booking Time</a>
            <a class="btn-outline danger" href="{% url 'booking-delete' booking.id %}">Delete Booking</a>
        </div>
        <a href="{% url 'booking-list' %}" class="back-link">← Back to My Bookings</a>

    </div>

</div>
{% endblock %}
