{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}

<h1 class="dashboard-title">Book Appointment</h1>

<div class="glass-form-wrapper">

  <div class="glass-form">
    <ul class="booking-details">
      <li><strong>Service:</strong> {{ view.service.name }}</li>
      <li><strong>Stylist:</strong> {{ view.availability.stylist.username }}</li>
      <li><strong>Date:</strong> {{ view.availability.date }}</li>
      <li><strong>Time:</strong> {{ view.availability.time }}</li>
    </ul>

    <form method="post" class="glass-form">
      {% csrf_token %}
      <div class="form-grid">
        {{ form.as_p }}
      </div>

      <button type="submit" class="btn">Confirm Booking</button>
    </form>
  </div>

</div>

{% endblock %}
