{% extends 'base.html' %}
{% block content %}

<h1>Booking Confirmed 🎉</h1>
<p> <strong>Service:</strong> {{ booking.service.name }} </p>

<p> <strong>Stylist:</strong> {{ booking.stylist.username }} </p>

<p> <strong>Date:</strong> {{ booking.availability.date }} </p>

<p> <strong>Time:</strong> {{ booking.availability.time }} </p>

<p>
<strong>Booked for:</strong>
{% if booking.customer %}
    {{ booking.customer.username }}
{% else %}
    {{ booking.guest_name }}
{% endif %}
</p>

<a href="{% url 'service-list' %}">Make another Booking?</a>


{% endblock %}