{% extends "base.html" %}

{% block content %}

<div class="glass-card">
  <h1>Select a Stylist</h1>
  <p>For {{ service.name }}</p>
  

  <div class="stylist-grid">
    {% for stylist in stylists %}
      <a class="stylist-card" href="{% url 'quick-book-availability' service.id stylist.id %}">
        <div class="profile-avatar">
            {% if stylist.stylistprofile and stylist.stylistprofile.profile_picture %}
                <img src="{{ stylist.stylistprofile.profile_picture.url }}" class="stylist-photo">
            {% else %}
                <div class="avatar-placeholder">{{ stylist.first_name|first|upper }}</div>
            {% endif %}
        </div>



        <h3>{{ stylist.first_name }} {{ stylist.last_name }}</h3>
        <p>{{ stylist.stylistprofile.specialties }}</p>
      </a>
    {% endfor %}
  </div>


</div>


{% endblock %}

