{% extends 'base.html' %}
{% load static %} 

{% block head %} 
    <link rel="stylesheet" href="{% static 'css/services/service-detail.css' %}">
{% endblock %}
{% block content %}
    <div class="container service-detail-page">

        <section class="service-header" >
            <div class="service-info">
                <h1>{{service.name}} </h1>
            
                <div class="service-meta"> 
                  {% if service.min_price and service.max_price and service.min_price != service.max_price %} 
                    <span> £{{ service.min_price }} - £{{service.max_price}} </span>
                  {% elif service.min_price and service.max_price and service.min_price == service.max_price %}
                    <span> £{{ service.min_price }}</span>  
                  {% else %} 
                    <span>Pricing varies</span>
                  {% endif %}  
                    <span>{{ service.duration }} min</span> 
                </div> 
                <a href="#stylists" class="btn">Book This Service</a>
            </div>
            <div class="service-image-placeholder"> Service Image </div>

        </section>

        <section class="description-section">
            <h2>Full Description</h2>
            <p><p>{{ service.description }}</p></p>
        </section>

        <section id="stylists" class="stylist-list">

            <h2>Stylist offering this service </h2>

            {% if stylist_services %} 
                {% for item in stylist_services %} 
                    <div class="stylist-card"> 
                        <div class="info"> 
                            <strong>{{ item.stylist.username }}</strong> 
                            <span>£{{ item.price }}</span> 
                        </div> 
                        <a href="{% url 'stylist-detail' item.stylist.id %}" class="btn-outline"> View Profile </a>
                     </div> 
                {% endfor %} 
            {% else %} 
                <p>No stylist offers this service yet.</p> 
            {% endif %}
        </section>

        <div class="cta-section">
            <a href="#stylists" class="btn">Book This Service</a>
        </div>

        <a href="{% url 'service-list' %}" class="back-link">Back to services</a>
    </div>    
{% endblock %}